.App {
  text-align: center;
  width: 70%;
  margin: 2% auto;
  display: flex;
  gap: 20px;
}

/* Chat Section */
.chat-content {
  background-color: #F3F6FB;
  width: 70%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 39px;
  height: 80vh;
  overflow: auto;
  
}

/* Message Section */
/* ====== MENSAJE DE OTROS ====== */
.message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}

.message > div {
  display: inline-block;
  order: 1;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message .bubble {
  max-width: 75%;
  
}

.message .text-message {
  background: #1A233B;
  color: white;
  padding: 1px 14px;
  border-radius: 14px 14px 14px 4px;
  word-wrap: break-word;
  text-align: left;
  width: fit-content;
}

.message .user {
  font-size: 12px;
  color: #9aa4c3;
  margin: 0 0 3px 2px;
  text-align: left;
}

.message .time {
  font-size: 11px;
  color: #8b95b2;
  margin-top: 4px;
  text-align: left;
}


/* ====== MI MENSAJE ====== */
.my-message {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 12px;
}

.my-message img {
  order: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.my-message .bubble {
  max-width: 75%;
  text-align: right;
}

.my-message .text-message {
  background: #ffffff;
  color: #1A233B;
  padding: 1px 14px;
  border-radius: 14px 14px 4px 14px;
  box-shadow: 0 3px 6px rgba(0,0,0,.08);
  display: inline-block;
}



.my-message .user {
  font-size: 12px;
  color: #526182;
  margin: 0 2px 3px 0;
  text-align: right;
}

.my-message .time {
  font-size: 11px;
  color: #6c7899;
  margin-top: 4px;
  text-align: right;
}


/* Send Message Component */
form {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 13px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  position: relative;
}
input[type="text"] {
  border: solid 1px #d4d3d3;
  padding: 14px 12px;
  font-size: inherit;
  border-radius: 6px;
  outline: none;
  flex-grow: 6;
}
form button {
  background-color: #004DFC;
  padding: 15px 10px;
  font-size: inherit;
  border-radius: 8px;
  outline: none;
  border: 0px;
  color: #fff;
  flex-grow: 2;
  transition: .3s;
  cursor: pointer;
}

form button:hover {
  background-color: #1A233B;
}
form button i {
  padding-left: 6px;
}

/* styles to scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A233B; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0ced4; 
}

/* User Component */
.right-side {
  width: 30%;
}
.right-side h1 i {
  margin-right: 10px;
}
.card-user {
  border: 1px solid #d4d3d3;
  border-radius: 25px;
  background-color: #F5F8FC;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-user p {
  font-weight: 500;
}
.card-user img {
  width: 90px;
  border-radius: 50%;
  display: block;
}
/* Login Btn */
.btn-login {
  font-size: inherit;
  background-color: #4082ED;
  outline: none;
  color: #fff;
  padding: 0 9px 0 0;
  border: 2px solid #4082ED;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-login i {
  background-color: #fff;
  color: #4082ED;
  padding: 5px;
  margin-right: 8px;
  font-size: 26px;
}
.btn-login.btn-logout {
  background-color: #a0a3a7;
  border: 2px solid #a0a3a7;
}
.btn-login.btn-logout i {
  font-size: 20px;
  color: #a0a3a7;
}

@media (max-width: 700px) {
  .App {
    flex-wrap: wrap;
    text-align: center;
  }
}

/* Emojis */
.open {
  display: block;
  position: absolute;
  top: -347px;
}
.close {
  display: none;
}
button.close-emoji{
  position: relative;
  right: -46%;
  top: 2px;
  padding: 2px;
  background-color: #ffffff00;
}

button.close-emoji:hover {
  background-color: #ffffff00;
}
button.close-emoji i {
  color: #004DFC;
}
.btn-emoji {
  padding: 0;
  flex-grow: 1;
}
.btn-emoji i {
  font-size: 24px;
  padding-left: 0;
}
/* author */
p.author {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 7px;
}
p.author a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}